@tailwind base;

@tailwind components;

@tailwind utilities;

* {
  @apply font-montserrat font-medium transition focus:outline-none focus:ring focus:ring-violet-500;
}

@layer components {
  .btn {
    @apply rounded-full px-10 py-2 text-lg font-semibold;
  }

  .btn-primary {
    @apply bg-gray-50 text-black hover:bg-gray-300 active:bg-gray-50;
  }

  .input {
    @apply rounded-full bg-zinc-800 px-5 py-2 text-lg text-white placeholder-zinc-600;
  }
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}

#__next {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
